<link rel="import" href="bower_components/polymer/polymer-element.html">

<dom-module id="cookie-button">
    <template>
        <style>
            :host {
                display: inline-block;
            }
        </style>
        <counter-icon image="cookie" on-click="onClick">
            <fancy-text text$="[[cookies]]"></fancy-text>
        </counter-icon>
    </template>

    <script>
        /**
         * `cookie-clicker`
         * cookie-clicker
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class CookieButton extends Polymer.Element {
            static get is() {
                return 'cookie-button';
            }

            static get properties() {
                return {
                    cookies: {
                        type: Number,
                        notify: true
                    }
                };
            }

            onClick() {
                this.cookies++;
            }
        }

        window.customElements.define(CookieButton.is, CookieButton);
    </script>
</dom-module>
