<link rel="import" href="bower_components/polymer/polymer-element.html">
<link rel="import" href="bower_components/paper-button/paper-button.html">
<link rel="import" href="counter-icon.html">
<link rel="import" href="loading-bar.html">

<dom-module id="cookie-producer">
    <template>
        <style>
            :host {
                display: inline-block;
                max-width: 200px;
                width: 200px;
            }
        </style>

        <loading-bar duration="[[duration]]"></loading-bar>

        <div>
            Produces [[production]] cookies every [[duration]] seconds
        </div>
    </template>

    <script>
        'use strict';
        /**
         * `cookie-producer`
         * cookie-producer
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class CookieProducer extends Polymer.Element {
            static get is() {
                return 'cookie-producer';
            }

            static get properties() {
                return {
                    cookies: Number,
                    image: String,
                    cost: Number,
                    production: Number,
                    amount: Number,
                    duration: Number,
                    disabled: Boolean
                };
            }

            onClick() {
                this.cookies -= this.cost;
                this.amount++;
            }

            isDisabled(cookies) {
                return cookies < this.cost
            }

            updateDuration(newValue, oldValue) {
                if (this.interval !== undefined) {
                    window.clearInterval(this.interval);
                }
                this.interval = setInterval(this.bakeCookies.bind(this), 1000 * newValue)
            }

            bakeCookies() {
                this.cookies += this.amount * this.production
            }
        }

        window.customElements.define(CookieProducer.is, CookieProducer);
    </script>
</dom-module>
