<link rel="import" href="bower_components/polymer/polymer-element.html">
<link rel="import" href="cookie-producer.html">
<link rel="import" href="cookie-button.html">

<dom-module id="cookie-clicker">
    <template>
        <style>
            :host {
                display: block;
                user-select: none;
                width: 100%;
                align-content: center;
                text-align: center;
            }
        </style>
        <cookie-button cookies="{{cookies}}"></cookie-button>
        <br>
        <cookie-producer cookies="{{cookies}}" cost="20" production="1" duration="5" image="dough-roller"></cookie-producer>
    </template>

    <script>
        /**
         * `cookie-clicker`
         * cookie-clicker
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class CookieClicker extends Polymer.Element {
            static get is() {
                return 'cookie-clicker';
            }

            static get properties() {
                return {
                    cookies: {
                        type: Number,
                        value: 0
                    },
                    producers: {
                        type: Object,
                        value: [
                            {
                                name: 'Cookie baker',
                                cost: 20,
                                production: 1,
                                duration: 5,
                                image: "dough-roller"
                            },
                            {
                                name: 'Cookie farm',
                                cost: 400,
                                production: 20,
                                duration: 19,
                                image: "wheat"
                            },
                            {
                                name: 'Cookie mine',
                                cost: 8000,
                                production: 400,
                                duration: 43,
                                image: "gold-mine"
                            }
                        ]
                    }
                };
            }
        }

        window.customElements.define(CookieClicker.is, CookieClicker);
    </script>
</dom-module>
