<link rel="import" href="bower_components/polymer/polymer-element.html">

<dom-module id="counter-icon">
    <template>
        <style>
            :host {
                background-image: var(--image);

                display: inline-block;
                max-width: 200px;
                max-height: 200px;
                width: 200px;
                height: 200px;
                font-size: 100px;
                text-align: center;
                vertical-align: middle;
                font-weight: 700;
                line-height: 200px;

                -webkit-text-fill-color: white;
                -webkit-text-stroke-width: 4px;
                -webkit-text-stroke-color: black;
            }
        </style>
        <slot></slot>
    </template>

    <script>
        /**
         * `cookie-clicker`
         * cookie-clicker
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class CounterIcon extends Polymer.Element {
            static get is() {
                return 'counter-icon';
            }

            static get properties() {
                return {
                    image: {
                        type: String,
                        observer: 'updateImage'
                    }
                }
            }

            updateImage(newValue, oldValue) {
                this.updateStyles({'--image': 'url(\'images/' + newValue + '.svg\')'});
            }
        }

        window.customElements.define(CounterIcon.is, CounterIcon);
    </script>
</dom-module>
