<link rel="import" href="https://polygit.org/components/polymer/polymer-element.html">
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono:700" rel="stylesheet">

<dom-module id="fancy-text">
    <template>
        <style>
            * {
                text-align: center;

                font-family: 'Roboto Mono', monospace;

                -webkit-text-fill-color: white;
                -webkit-text-stroke-color: black;

                transform-origin: 50%;
            }

            @keyframes score-animation {
                30% {
                    transform: scale(2);
                }
                100% {
                    transform: scale(1);
                }
            }

            .animation {
                animation: score-animation 0.3s ease-out;
            }
        </style>
        <div id="div">[[text]]</div>
    </template>

    <script>
        (function () {
            'use strict';
            // Single character values:
            let FONT_SIZE = 200;
            let STROKE_WIDTH = 12;

            class FancyScorePolymer extends Polymer.Element {
                static get is() {
                    return 'fancy-text';
                }

                static get properties() {
                    return {
                        text: {
                            type: String,
                            observer: 'observeText'
                        }
                    }
                }

                observeText(newValue, oldValue) {
                    if (newValue && newValue.length) {
                        this.animate();
                        this.updateFont(newValue);
                    }
                }

                updateFont(newValue) {
                    // Compute font size
                    let divider = newValue.length + 1;
                    let newFontSize = FONT_SIZE / divider;
                    let newStrokeWidth = STROKE_WIDTH / divider;

                    // Update style
                    this.$.div.style.fontSize = newFontSize + 'px';
                    this.$.div.style.webkitTextStrokeWidth = newStrokeWidth + 'px';
                }

                animate() {
                    this.$.div.classList.remove('animation');

                    // Magic
                    void this.$.div.offsetWidth;

                    this.$.div.classList.add('animation');
                }
            }

            customElements.define(FancyScorePolymer.is, FancyScorePolymer);
        }());
    </script>

</dom-module>
