<link rel="import" href="bower_components/polymer/polymer-element.html">

<dom-module id="loading-bar">
    <template>
        <style>
            :host {
                display: block;
                width: 100%
            }

            .meter {
                height: 5px;
                position: relative;
                background: #f3efe6;
                overflow: hidden;
            }

            .meter span {
                display: block;
                height: 100%;
            }

            .progress {
                background-color: #D2691E;
                animation: progressBar var(--duration) linear infinite;
                animation-fill-mode: both;
            }

            @keyframes progressBar {
                0% {
                    width: 0;
                }
                100% {
                    width: 100%;
                }
            }
        </style>
        <div class="meter">
            <span class="progress"></span>
        </div>
    </template>

    <script>
        class LoadingBar extends Polymer.Element {
            static get is() {
                return 'loading-bar';
            }

            static get properties() {
                return {
                    duration: {
                        type: Number,
                        observer: 'updateDuration'
                    }
                };
            }

            updateDuration(newValue, oldValue) {
                this.updateStyles({'--duration': newValue + 's'})
            }
        }

        window.customElements.define(LoadingBar.is, LoadingBar);
    </script>
</dom-module>
